
body{
    margin: 0px;
    padding: 0%;
    background: rgb(255,255,255);
}
/* .test{
    background-color: rgb(179, 54, 54);
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
}
.lab{
    width: 300px;
    background-color: rgb(179, 54, 54);
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;

} */

.TestForm{
    background-color: rgb(179, 54, 54);
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
#image{
    float: right;
    position: flex;
    height: 100px;
    width: 100px;
    padding-right: 150px;
}
